<nav class="navbar navbar-dark navbar-expand-lg header">
    <a class="navbar-brand" href="#">EtherTrack</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" data-role="navbar">
            <a class="nav-item nav-link active" href="#" onclick="$('#main').load('./views/main.html');">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#" onclick="$('#main').load('./views/manage.html');">Manage</a>
            <a class="nav-item nav-link" href="#" onclick="$('#main').load('./views/warehouse.html');">Warehouse</a>
            <a class="nav-item nav-link" href="#" onclick="window.location.replace('https://ethertrack.firebaseapp.com/startbootstrap-new-age/landing.html')">About</a>
            <a class="nav-item nav-link" id="cntAsAccount"></a>
            <a class="nav-item nav-link" href="#" onclick="reloadPreference();">Refresh</a>
        </div>
    </div>
</nav>
