<table class="table" id="eventsTable">
    <thead>
        <tr>
            <th> Contract </th>
            <th> Event </th>
            <th> Description </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div>
    <input type="button" value="Validate Hash" id="btnValHash" onclick="generateHash()" />
    <input placeholder="string to hash" id="strToHash" />
</div>

<div class="well">
    <br />
    Warehouses :
    <ul class="list-group" id="WHList"></ul>
    <div>

        <div class="well">
            <br />
            Name services :
            <ul class="list-group" id="NSList"></ul>
            <div>

                <div class="well">
                    <br />
                    Known nodes :
                    <ul class="list-group" id="nodeList"></ul>
                </div>
            </div>
        </div>
    </div>
</div>


