<!-- Modal -->
<div id="helpModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
	<!-- Modal values-->
	<!--
	<input type="hidden" id="modWhAddress" value=""/>
	<input type="hidden" id="modWhName" value=""/>
	-->
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
		<h4 class="modal-title">Need help ?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>        
      </div>
      <div class="modal-body">
		<p>Hi ! It seems that you don't have any warehouse registered yet.</p>
        <p>To get you started, add a NameService to your preferences.</p>
        <p>If you wish, we can add the public NameService available on your current network.</p>
        <p>Note : Adding a NameService is free.</p>
      </div>
      <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" id="modHelpOk">Yes, add public NameService to my preferences</button>
      </div>
    </div>
  </div>
</div>
