<!-- Modal -->
<div id="registerNameModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
	<!-- Modal values-->
	<input type="hidden" id="modWhAddress" value=""/>
	<input type="hidden" id="modWhName" value=""/>
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
		  <h4 class="modal-title">Register name ?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>        
      </div>
      <div class="modal-body">
        <p>Would you like to publish your GLN ? (Once published, any user can find the warehouse address associated to your GLN)</p>
        <p>You can register your warehouse manually later.</p>
        <p>Transaction fee will apply.</p>
      </div>
      <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" id="modRegisterOk">Register</button>
      </div>
    </div>

  </div>
</div>
